body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url('@/assets/img/background_body.jpg');
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
}
